@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-BlackItalic.eot');
  src: url('../../fonts/Neris/Neris-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-BlackItalic.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-BlackItalic.woff') format('woff'),
  url('../../fonts/Neris/Neris-BlackItalic.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-BlackItalic.svg#Neris-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-BoldItalic.eot');
  src: url('../../fonts/Neris/Neris-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-BoldItalic.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-BoldItalic.woff') format('woff'),
  url('../../fonts/Neris/Neris-BoldItalic.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-BoldItalic.svg#Neris-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-SemiBoldItalic.eot');
  src: url('../../fonts/Neris/Neris-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-SemiBoldItalic.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-SemiBoldItalic.woff') format('woff'),
  url('../../fonts/Neris/Neris-SemiBoldItalic.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-SemiBoldItalic.svg#Neris-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-Black.eot');
  src: url('../../fonts/Neris/Neris-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-Black.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-Black.woff') format('woff'),
  url('../../fonts/Neris/Neris-Black.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-Black.svg#Neris-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-ThinItalic.eot');
  src: url('../../fonts/Neris/Neris-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-ThinItalic.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-ThinItalic.woff') format('woff'),
  url('../../fonts/Neris/Neris-ThinItalic.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-ThinItalic.svg#Neris-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-Thin.eot');
  src: url('../../fonts/Neris/Neris-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-Thin.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-Thin.woff') format('woff'),
  url('../../fonts/Neris/Neris-Thin.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-Thin.svg#Neris-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-SemiBold.eot');
  src: url('../../fonts/Neris/Neris-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-SemiBold.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-SemiBold.woff') format('woff'),
  url('../../fonts/Neris/Neris-SemiBold.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-SemiBold.svg#Neris-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-LightItalic.eot');
  src: url('../../fonts/Neris/Neris-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-LightItalic.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-LightItalic.woff') format('woff'),
  url('../../fonts/Neris/Neris-LightItalic.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-LightItalic.svg#Neris-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris/Neris-Light.eot');
  src: url('../../fonts/Neris/Neris-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Neris/Neris-Light.woff2') format('woff2'),
  url('../../fonts/Neris/Neris-Light.woff') format('woff'),
  url('../../fonts/Neris/Neris-Light.ttf') format('truetype'),
  url('../../fonts/Neris/Neris-Light.svg#Neris-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

