$spacer:            3rem;
$grid-columns:      12;
$grid-gutter-width: $spacer;
$font-size-base:    1.4rem;
$font-family-base:  'Neris', sans-serif;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    sm: 54rem,
    md: 72rem,
    lg: 96rem,
    xl: 114rem
);